*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(133, 55, 55), rgb(40, 91, 53));
}
#title{
    font-size: 3rem;
}
#description{
    font-size: 1.2rem;
}
#source{
    position: absolute;
    left: 55%;
    top: 48rem;
    font-size: 1.2rem;
}
p, h1{
    color: white;
}
text{
    fill: white;
}
line{
    stroke: white;
}
#source > a{
    text-decoration: none;
}
#source > a, #source > a:visited{
    color: rgb(122, 192, 249);
}
.panel{
    text-align: center;
}
.state{
    stroke: rgba(255, 255, 255, 0.397);
    fill: transparent;
    pointer-events: none;
}
.ultra-light-green{
    fill: #dcffdb;
}
.light-green{
    fill: rgb(153, 215, 153);
}
.green{
    fill: rgb(110, 210, 110);
}
.green-2{
    fill: rgb(81, 178, 81);
}
.darker-green{
    fill: rgb(34, 158, 34);
}
.darker-green-2{
    fill: rgb(30, 128, 30);
}
.dark-green{
    fill: rgb(13, 92, 13);
}
.domain{
    stroke:none;
}
#tooltip{
    position: absolute;
    pointer-events: none;
    text-align: center;
    background-color: rgba(252, 245, 184, 0.758);
    font-size: 0.85rem;
    border-radius: 0.2rem;
    padding: 0rem 0.5rem;
}
#info{
    color: black;
}
.invisible{
    opacity: 0;
}
.visible{
    opacity: 1;
}
