*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
}
.panel{
    text-align: center;
}
.state{
    stroke: white;
    fill: transparent;
}
.ultra-light-green{
    fill: #dbffdb;
}
.light-green{
    fill: rgb(153, 215, 153);
}
.green{
    fill: rgb(110, 210, 110);
}
.green-2{
    fill: rgb(67, 154, 67);
}
.darker-green{
    fill: rgb(30, 137, 30);
}
.darker-green-2{
    fill: rgb(23, 99, 23);
}
.dark-green{
    fill: rgb(13, 92, 13);
}
